/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2017, 11:37:21 AM
    Author     : niklas
*/
/* header */
/* body */
body {
    background-color: red;
}
section {
    border-color: black;
    border-width: 5px;
    background-color: yellow;
    width: 50%;
    height: 70%;
}
#chatvin {
    border-color: black;
    border-width: 2px;
    background-color: wheat;
      width: 50%;
    height: 70%;
}
#messagesBoard {
    background-color: ivory;
    border: black solid 10px;
    height: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
}

.message {
    border-color: black;
    border-width: 1px;
    background-color:blueviolet;
      width: 50%;
    height: 70%;
}
/* footer */
footer {
    margin-bottom: 0px;
    height: 100px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: ivory;
    border:3px black;
    
}